table>tbody>tr>td{
    /*text-align:center;*/
}

/* dataTables表头居中 */
table>thead:first-child>tr:first-child>th{
    /*text-align:center;*/
}
.tpl-left-nav-item i{
    width: 20px;
    height: 20px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(160, 165, 171) !important;
}
/*使字在一行显示 并且超出显示....*/
.table-layout-fixed{
    table-layout: fixed;
}
.text-one-line{
     overflow: hidden;
     text-overflow:ellipsis;
     white-space: nowrap;
 }
.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-button button{
    margin: 5px;
}
.modal-button{
    margin: 5px;
}
img[src=""]{
    opacity: 0;
}

.form-input{
    padding: 0 0 0 5px;
}